
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Venom IT</title>

 <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/Admin/style.css" rel="stylesheet" />
<script src="../js/jquery-1.9.1.js"></script>
<script src="../js/jquery-ui.js"></script>
<script src="../js/dropmenu.js"></script>
</head>
<body>
    <form id="form1" runat="server">
    
    <div id="mainframe">
    	<div class="frame">
        	<!-- Start of header -->
        	
        	<div class="main_header">
            	<div class="header_left">
                	<div class="logo"><a href="#"><img src="/Admin/images/logo2.png" alt="" /></a></div>
                    <div class="logo_txt"><img src="/Admin/images/" alt="" /></div>                    
                </div>
                <div class="header_txt">Web Administration</div>
                <div class="header_right"><img src="/Admin/images/hostgator.png" alt="" /></div>
            </div>
            
            <!-- End of header -->
            <!-- Start of Main Content Container -->
            <div class="main_content">
            	<!-- Start of Main Login Container -->
            	<div class="main_login">
                	<div class="login_container">
                    	<!-- Start of Login Top Box -->
                    	<div class="login_top_box">
                        	<!-- Start of Left heading -->
                        	<h2><span class="orange">Welcome to </span>Venom IT</h2>
                            <!-- End of Left heading -->
                            <!-- Start of Message Box -->
                            <div class="message_box">                     
                                <!-- Start of Error Message -->
                                <div class="error_box">
                                    <!--<div class="e_left">
                                        <div class="e_right">
                                            <div class="e_mid">
                                                Error: Describe error message here...
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                                <!-- End of Error Message -->
                                <!-- Start of Success Message -->
                                <div class="success_box">
                                    <!--<div class="s_left">
                                        <div class="s_right">
                                            <div class="s_mid">
                                                Information: Describe information here...
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                                <!-- End of Success Message -->
                            </div>
                            <!-- End of Message Box -->                     
                        </div>
                    	<!-- End of Login Top Box -->
                        
                        <!-- Start of Login Bottom Box -->
                    	<div class="login_bottom_box">
                        	<!-- Start of Login Left Box -->
                       		<div class="login_main_left">
                            	<div class="login_l_left">
                                	<div class="login_l_right">
                                    	<div class="login_l_mid">
                                        	<div class="lock_box"><img src="/Admin/images/lock.png" alt="" /></div>
                                            <p>Use a valid username and password to gain access to the web administration console. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Login Left Box --> 
                            <!-- Start of Login Right Box -->
                       		<div class="login_main_right">
                            	<div class="login_r_right">
                                    <div class="login_r_mid">
                                        <label id="label">User Id<span class="red">*</span></label>
                                       <span  style=" float:left">
                                        
                                   <input type="text" name="txtname" id="txtUserId" />
                                      
                                           </span>
                                        <label>Password<span class="red">*</span></label>
                                         <span style="float:left">
                                      
                                        <input type="text" name="txtname" id="txtPassword" />
                                           </span> 
                                       
                                        <div class="txt_msg">
                                        	<p>Forgot Password ? <a href="forgot_password.html">CLICK HERE</a><span>* Indicates Required Fields</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Login Right Box --href="dashboard.html">             
                        </div>
                    	<!-- Start of Login Bottom Box -->
                        
                    </div>
                </div>
                <!-- End of Main Login Container -->
            </div>            
            <!-- End of Main Content Container -->
        </div>
    </div>
    <!-- End of MainFrame -->
    <!-- Start of Footer MainFrame -->
    <div id="mainfooter">
    	<div id="foot_mainframe">
        	<div class="foot_frame">
            	<!-- Start of Footer Links -->
            	<div class="foot_links">
                	<ul>
                    	<li><a href="#">Public Website</a>&nbsp;&nbsp;&nbsp;|</li>
                        <li><a href="#">Contact Us</a>&nbsp;&nbsp;&nbsp;|</li>
                        <li><a href="#">Privacy Policies</a>&nbsp;&nbsp;&nbsp;|</li>
                        <li><a href="#">FAQs</a>&nbsp;&nbsp;&nbsp;|</li>
                        <li><a href="#">Terms and Conditions</a></li>
                    </ul>
                </div>
                <!-- End of Footer Links -->
                <!-- Start of Footer Copyrights -->
                <div class="copyright">
                	Copyrights 2011.  Venom IT . All Rights Reserved
                </div>
                <!-- End of Footer Copyrights -->
            </div>
        </div>
    </div>
    <!-- End of Footer MainFrame -->
    </form>
</body>
</html>
